.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4391CF;
  font-family: 'Zen Tokyo Zoo', cursive;
}

.App-link {
  color: #EF2E32;
  font-size: 1rem;
  letter-spacing: .8rem;
  font-family: 'Zen Tokyo Zoo', cursive;
}

.App-red {
  color: #2C5787;
  font-size: 1rem;
  letter-spacing: .8rem;
  font-family: 'Zen Tokyo Zoo', cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (min-width: 600px) {
  .App-link {
    font-size: 2rem;
  }
  .App-red {
    font-size: 2rem;
  }
}